.columnContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-evenly;
    margin-bottom: 10vw;
    height: 50vw;
    margin: 0vw 5vw;
    gap: 1vw;
    z-index: -1;
}

.columnContainer gradient,
.columnContainer southGradient {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10%;
    z-index: -11;
}

.columnContainer gradient {
    background: linear-gradient(180deg, var(--background) 0%, var(--background) 35%, var(--background) 70%, var(--background) 100%);
    position: absolute;
    top: 0;
}

.columnContainer southGradient {
    background: linear-gradient(0deg, var(--background) 0%, var(--background) 35%, var(--background) 70%, var(--background) 100%);
    position: absolute;
    bottom: 0;
}

.titles {
    position: absolute;
    display: flex;
    flex-direction: row;
    overflow: visible;
    z-index: -1;
    top: 15%;
}

.titles>O {
    transform: rotate(90deg);
    width: 25vw;
    overflow: visible;
    text-align: center;
    font-family: Londrina-Regular;
    -webkit-text-stroke: 2px var(--primary-color);
    text-shadow: transparent 0px 0px 0px;
    font-size: 15em;
}

.columnContainer .column {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: visible;
    width: 25vw;
}

.columnContainer .column .columnOverlap .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    list-style: none;
    gap: 10vw;
    overflow: visible;
    transform: translateY(0);
    width: 100%;
}

@keyframes scroll {
    0% {
        transform: translateY(-150vw);
    }

    100% {
        transform: translateY(150vw);
    }
}

@keyframes scrollReverse {
    0% {
        transform: translateY(225vw);
    }

    100% {
        transform: translateY(-225vw);
    }
}

.columnContainer .column .columnOverlap {
    position: relative;
    overflow: visible;
    width: 100%;
}

.columnContainer .column:nth-of-type(odd) .columnOverlap .col:nth-of-type(2),
.columnContainer .column:nth-of-type(even) .columnOverlap .col:nth-of-type(2) {
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: translateY(-150vw);
    animation-play-state: running;
}


.columnContainer .column:nth-of-type(odd) .columnOverlap .col:nth-of-type(1),
.columnContainer .column:nth-of-type(even) .columnOverlap .col:nth-of-type(1) {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    animation-duration: 20s;
    animation-delay: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.columnContainer .column:nth-of-type(odd) .columnOverlap .col:nth-of-type(1) {
    animation-name: scroll;
    transform: translateY(-150vw);
}

.columnContainer .column:nth-of-type(even) .columnOverlap .col:nth-of-type(1) {
    animation-name: scrollReverse;
    transform: translateY(225vw);
}

.columnContainer .column:nth-of-type(odd) .columnOverlap .col:nth-of-type(2) {
    animation-name: scroll;
    max-height: 300vh;
}

.columnContainer .column:nth-of-type(even) .columnOverlap .col:nth-of-type(2) {
    animation-name: scrollReverse;
    max-height: 500vh;
    transform: translateY(225vw);
}

.columnContainer .column .columnOverlap .col li {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.columnContainer .column .columnOverlap .col li img {
    width: 90%;
    overflow: hidden;
}

.columnContainer .column .columnOverlap .col li p {
    position: absolute;
}

.hexagon {
    width: 100%;
    height: 100%;
    position: absolute;
}

.imgHover {
    background: red;
}