.gallery {
  position: absolute;
  width: 1440px;
  height: 1024px;
  left: 0;
  top: 0;
  pointer-events: auto;
  z-index: 999 !important;
  background: var(--thirdly);
}

.gallery .imagesGal {
  margin: 0;
  position: relative;
  mask-image: url("./brush/Vector.png");
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  mask-position: 50% 0%;
  background: var(--thirdly);
  z-index: 1;
  height: 100%;
  width: 100%;
}

.cols {
  display: flex;
  gap: 2rem;
  height: 100%;
  width: 100%;
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
  position: relative;
}

.col span {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.col li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col img {
  width: 100%;
  height: auto;
  object-fit: contain;
}


.col:nth-child(1) span {
  animation: scrollVerticalDown 20s linear infinite;
}


.col:nth-child(2) span {
  animation: scrollVerticalUp 20s linear infinite;
}


.col:nth-child(3) span {
  animation: scrollVerticalDown 20s linear infinite;
}

@keyframes scrollVerticalDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes scrollVerticalUp {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}