.navBar {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr 0.5fr;
  width: 85vw;
  position: fixed;
  justify-content: space-between;
  align-items: start;
  margin: 10vh 7.5vw;
  gap: var(--header);
  z-index: 2 !important;
}

.navBar>* {
  position: relative;
}

.navBar span {
  list-style: none;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}

.navIconRail {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navIconRail {
  transition: all 1s ease;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: start;
  align-items: start;
  transform-origin: center center;
  pointer-events: auto;
  padding: 50px;
  flex-grow: 1;
}

.navIconRail.menuShrink {
  padding: 2vw;
  width: 5vw;
  transform: translate(-6vw, -5vh);
  pointer-events: auto;
}

.homeBorder .circle {
  transition: all 2s var(--motion);
  position: absolute;
  width: 0px;
  height: 0px;
  background: var(--fourthly);
  left: 0;
  top: 0;
  border-radius: 0;
  transform-origin: left top;
  border-radius: 0 0 100% 0;
  opacity: 1;
}

.homeBorder .circle.expandCircle {
  width: 8rem;
  height: 8rem;
}

.navBar .navInfoGroup {
  flex-grow: 4;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--header);
}

.navBar .navDesktopLinks {
  position: relative;
  transition: all 1s ease;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  gap: var(--b);
  margin: 0;
}

.navBar .navDesktopLinks li {
  position: relative;
  transition: all 1s var(--motion);
  pointer-events: auto;
  opacity: 0;
  padding: 0;
  width: 0%;
  overflow: hidden;
  border: calc(var(--b) / 2) solid var(--fifthly);
  transition: all 0.75s var(--motion);
}

.navBar .navDesktopLinks li.expandBar {
  width: 100%;
  opacity: 1;
}

.navBar .navDesktopLinks li:hover {
  border: calc(var(--b) / 2) solid var(--sixthly);

  h3 {
    color: var(--sixthly);
  }
}

.navBar .navDesktopLinks li h3 {
  font-family: NeoJapan;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--fifthly);
  text-decoration-line: none;
}

.navBar .navDesktopLinks li a,
.navBar .navDesktopLinks li a:link,
.navBar .navDesktopLinks li a:visited,
.navBar .navDesktopLinks li a:hover,
.navBar .navDesktopLinks li a:active {
  text-decoration: none;
}

.navBar .navDesktopLinks li.menuShrinkText {
  left: 0%;
  pointer-events: none;
  opacity: 0;
}

.navBar .navDesktopLinks.expandOnClick {
  left: 0;
}

.navIconRail .iconButton {
  pointer-events: none;
  transition: all 1s var(--motion);
  background: var(--fourthly);
  padding: var(--b);
  margin: 0;
  border-radius: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  opacity: 0;
}

.navIconRail .iconButton img {
  width: var(--nav-icon-button-size);
  height: var(--nav-icon-button-size);
}

.navIconRail .iconButton.menuExpand {
  opacity: 1;
  pointer-events: auto;
  border-radius: 100%;
  background: var(--fourthly);
}

.navIconRail .iconButton:nth-of-type(2).menuExpand {
  left: 25%;
  top: 125%;
}

.navIconRail .iconButton:nth-of-type(3).menuExpand {
  left: 87.5%;
  top: 87.5%;
}

.navIconRail .iconButton:nth-of-type(4).menuExpand {
  left: 137.5%;
  top: 37.5%;
}

.navIconRail li:nth-of-type(1) {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Keep logo visually pinned when nav rail shifts on active state. */
.navIconRail.menuShrink li:nth-of-type(1) {
  transform: translate(6vw, 5vh);
}

.navIconRail li {
  position: absolute;
  transition: all 1s var(--motion);
  pointer-events: auto;
  opacity: 1;
}

.navIconRail li a {
  text-decoration: none;
}

.navBar h2 {
  color: var(--fifthly);
  font-family: Forza;
  transition: all 1s ease;
  transform: translateX(0%);
}

.nyLogo {
  width: 4rem;
  height: 4rem;
  overflow: visible;
  transform: rotate(0deg);
  transition: all 1s var(--motion);
  transform-origin: center center;
}

.nyLogo.rotateLogo {
  transform: rotate(360deg);
}

.home img {
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: bottom center;
}

.Seattle {
  width: 100%;
  z-index: 0;
  overflow: visible;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0vw, 53vh);
}

.frontTrees {
  width: 100%;
  pointer-events: none;
  z-index: 0;
}

.inBetweenTrees {
  width: 100%;
  z-index: 100;
  overflow: visible;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0vw, 70vh);
}

.middleTrees {
  width: 100%;
  z-index: 99;
  overflow: visible;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0vw, 66vh);
}

.backTree {
  width: 100%;
  z-index: 97;
  overflow: visible;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0vw, 63vh);
}

.branch {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  z-index: 20;
  pointer-events: none;
}

.branch::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./images/CherryBlossomTree.png");
  background-position: 0% 0%;
  background-size: contain;
  background-repeat: no-repeat;
  filter: contrast(0.5) saturate(2) drop-shadow(5px 0px 1px #ff9777);
  transform: translateX(calc(-40% + var(--branchShift, 0px)));
  transition: transform 0.5s ease-in-out;
  z-index: 102 !important;
  pointer-events: none;
}

.branch>* {
  position: relative;
  z-index: 10;
}

.branch .leafsContainer {
  z-index: 21;
  transform: translateX(var(--leafShift, 0px));
}

.branch .leafsContainer img {
  filter: contrast(0.5) saturate(2) drop-shadow(2px 2px 1px #ff6d41);
}

.cloud001 {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  height: 10vh;
  transform: translate(35vw, 45vh) translateX(var(--cloudShift, 0px));
  z-index: 0;
  object-fit: contain;
  overflow: visible;
}

.cloud002 {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 21.15vw;
  height: 22.428vw;
  transform: translate(78.889vw, 35vh) translateX(var(--cloudShift, 0px));
  z-index: 0;
  overflow: visible;
  object-fit: contain;
  overflow: visible;
  object-position: 100% 0%;
}

.cloud003 {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  height: 15.764vw;
  width: 14.178vw;
  transform: translate(70vw, 10vh) translateX(var(--cloudShift, 0px));
  overflow: visible;
  z-index: 1;
  object-fit: contain;
  overflow: visible;
}

.name {
  position: relative;
  flex-grow: 0;
  transition: all 0.5s ease;
  overflow: visible;
  z-index: 0 !important;
}

.name img {
  width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1439px) {
  .navBar .navInfoGroup {
    flex-direction: column;
    align-items: flex-end;
  }
}
