.navBar {
  display: flex;
  width: 90vw;
  position: fixed;
  justify-content: space-between;
  margin: 5vh 5vw 0 5vw;
  z-index: 9999;
}

.navBar span {
  list-style: none;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}

.navBar span:nth-of-type(1) {
  width: 10%;
  transition: all 1s ease;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: start;
  transform-origin: center center;
  pointer-events: auto;
}

.navBar span:nth-of-type(1).menuShrink {
  padding: 2vw;
  width: 5vw;
  transform: translate(-6vw, -5vh);
  pointer-events: auto;
}

.homeBorder {
  pointer-events: none;
}

.homeBorder .circle {
  transition: all 2s var(--motion);
  position: absolute;
  width: 0px;
  height: 0px;
  background: var(--fourthly);
  left: 0;
  top: 0;
  border-radius: 0;
  transform-origin: left top;
  border-radius: 0 0 100% 0;
  opacity: 1;
}

.homeBorder .circle.expandCircle {
  width: 6rem;
  height: 6rem;
}

.navBar span:nth-of-type(2) {
  width: 30%;
  position: relative;
  transition: all 1s ease;
}

.navBar span:nth-of-type(2) li img {
  width: 70px;
  height: 70px;
  display: none;
}

.navBar span:nth-of-type(2) li {
  position: absolute;
  transition: all 1s var(--motion);
  pointer-events: auto;
  opacity: 1;
}

.navBar span:nth-of-type(2) li:nth-of-type(1) {
  left: 0%;
}

.navBar span:nth-of-type(2) li:nth-of-type(2) {
  left: 27%;
}

.navBar span:nth-of-type(2) li:nth-of-type(3) {
  left: 66%;
}

.navBar span:nth-of-type(2) li.menuShrinkText {
  left: 0%;
  pointer-events: none;
  opacity: 0;
}

.navBar span:nth-of-type(2).expandOnClick {
  left: 0;
}

.navBar span:nth-of-type(1) .iconButton {
  pointer-events: none;
  transition: all 1s var(--motion);
  background: var(--fourthly);
  padding: var(--b);
  margin: 0;
  border-radius: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  opacity: 0;
}

.navBar span:nth-of-type(1) .iconButton img {
  width: 70px;
  height: 70px;
}

.navBar span:nth-of-type(1) .iconButton.menuExpand {
  opacity: 1;
  pointer-events: auto;
  border-radius: 100%;
  background: var(--fourthly);
}

.navBar span:nth-of-type(1) .iconButton:nth-of-type(2).menuExpand {
  left: 25%;
  top: 125%;
}

.navBar span:nth-of-type(1) .iconButton:nth-of-type(3).menuExpand {
  left: 87.5%;
  top: 87.5%;
}

.navBar span:nth-of-type(1) .iconButton:nth-of-type(4).menuExpand {
  left: 137.5%;
  top: 37.5%;
}

.navBar span:nth-of-type(1) li:nth-of-type(1) {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBar span li {
  position: absolute;
  transition: all 1s var(--motion);
  pointer-events: auto;
  opacity: 1;
}

.navBar span li a {
  text-decoration: none;
}

.navBar h2 {
  color: var(--fifthly);
  font-family: Forza;
  transition: all 1s ease;
  transform: translateX(0%);
}

.nyLogo {
  width: 2rem;
  height: 2rem;
  overflow: visible;
  transform: rotate(0deg);
  transition: all 1s var(--motion);
}

.nyLogo.rotateLogo {
  transform: rotate(360deg);
}

.home img {
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: bottom center;
}

.Seattle {
  width: 100%;
  z-index: 1;
  overflow: visible;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0vw, 53vh);
  filter: brightness(0.9);
}

.home .banner {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin: 0;
  width: 40vw;
  height: 40vw;
  transform: translate(-50%, 0%) translateX(11.389vw);
  display: flex;
  justify-content: center;
  align-items: start;
  transition: all 1s var(--motion);
  overflow: hidden;
}

.home .banner .eritrean {
  position: relative;
  height: 50%;
  z-index: 1;
  margin-top: 2rem;
}

.home .banner .sun {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: var(--fifthly);
  inset: 0;
  margin: 0;
  z-index: 0;
}

.frontTrees {
  width: 100%;
  pointer-events: none;
  z-index: 0;
}

.inBetweenTrees {
  width: 100%;
  z-index: 4;
  overflow: visible;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0vw, 70vh);
}

.middleTrees {
  width: 100%;
  z-index: 3;
  overflow: visible;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0vw, 66vh);
}

.backTree {
  width: 100%;
  z-index: 2;
  overflow: visible;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0vw, 63vh);
}

.branch {
  content: "";
  background-image: url("./images/CherryBlossomTree.png");
  position: absolute;
  background-position: 0% 0%;
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  z-index: 8;
  pointer-events: none;
  filter: contrast(0.5) saturate(2) drop-shadow(5px 0px 1px #ff9777);
}

.cloud001,
.cloud002,
.cloud003 {
  filter: brightness(95%);
}

.cloud001 {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 20vw;
  height: 10vh;
  transform: translate(35vw, 45vh);
  z-index: 0;
}

.cloud002 {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 21.15vw;
  height: 22.428vw;
  transform: translate(78.889vw, 35vh);
  z-index: 0;
  overflow: visible;
}

.cloud003 {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  height: 15.764vw;
  width: 14.178vw;
  transform: translate(70vw, 10vh);
  overflow: visible;
  z-index: 1;
}

.name {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--header) * 2) var(--header) var(--header) var(--header);
  gap: 60px;
  opacity: 1;
  overflow: visible;
  width: 50vw;
  transition: all 0.5s ease;
  margin: 5vh 0 0 10vw;
}

.name h1,
.name h2 {
  width: min-content;
  height: min-content;
  margin: 0;
  padding: 0;
  overflow: visible;
}

.name h1 {
  font-family: Forza;
  color: transparent;
  -webkit-text-stroke: 2px var(--fifthly);
  z-index: 0;
  line-height: 100%;
}

.name h2 {
  font-family: NeoJapan;
  color: transparent;
  -webkit-text-stroke: 1px var(--fifthly);
  margin-top: -100px;
  margin-left: -150px;
  z-index: 0;
}