.navBar {
  display: flex;
  width: 90vw;
  position: fixed;
  justify-content: space-between;
  align-items: start;
  margin: 5vh 5vw 0 5vw;
  z-index: 9999;
}

.navBar span {
  list-style: none;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}

.navBar span:nth-of-type(1) {
  transition: all 1s ease;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: start;
  transform-origin: center center;
  pointer-events: auto;
  padding: 50px;
}

.navBar span:nth-of-type(1).menuShrink {
  padding: 2vw;
  width: 5vw;
  transform: translate(-6vw, -5vh);
  pointer-events: auto;
}

.homeBorder {
  pointer-events: none;
}

.homeBorder .circle {
  transition: all 2s var(--motion);
  position: absolute;
  width: 0px;
  height: 0px;
  background: var(--fourthly);
  left: 0;
  top: 0;
  border-radius: 0;
  transform-origin: left top;
  border-radius: 0 0 100% 0;
  opacity: 1;
}

.homeBorder .circle.expandCircle {
  width: 8rem;
  height: 8rem;
}

.navBar span:nth-of-type(2) {
  width: 30%;
  position: relative;
  transition: all 1s ease;
  display: flex;
  padding: var(--header) calc(var(--header) * 2);
  justify-content: space-between;
}

.navBar span:nth-of-type(2) li img {
  width: 70px;
  height: 70px;
  display: none;
}

.navBar span:nth-of-type(2) li {
  position: relative;
  transition: all 1s var(--motion);
  pointer-events: auto;
  opacity: 1;
}

.navBar span:nth-of-type(2) li.menuShrinkText {
  left: 0%;
  pointer-events: none;
  opacity: 0;
}

.navBar span:nth-of-type(2).expandOnClick {
  left: 0;
}

.navBar span:nth-of-type(1) .iconButton {
  pointer-events: none;
  transition: all 1s var(--motion);
  background: var(--fourthly);
  padding: var(--b);
  margin: 0;
  border-radius: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  opacity: 0;
}

.navBar span:nth-of-type(1) .iconButton img {
  width: 70px;
  height: 70px;
}

.navBar span:nth-of-type(1) .iconButton.menuExpand {
  opacity: 1;
  pointer-events: auto;
  border-radius: 100%;
  background: var(--fourthly);
}

.navBar span:nth-of-type(1) .iconButton:nth-of-type(2).menuExpand {
  left: 25%;
  top: 125%;
}

.navBar span:nth-of-type(1) .iconButton:nth-of-type(3).menuExpand {
  left: 87.5%;
  top: 87.5%;
}

.navBar span:nth-of-type(1) .iconButton:nth-of-type(4).menuExpand {
  left: 137.5%;
  top: 37.5%;
}

.navBar span:nth-of-type(1) li:nth-of-type(1) {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBar span li {
  position: absolute;
  transition: all 1s var(--motion);
  pointer-events: auto;
  opacity: 1;
}

.navBar span li a {
  text-decoration: none;
}

.navBar h2 {
  color: var(--fifthly);
  font-family: Forza;
  transition: all 1s ease;
  transform: translateX(0%);
}

.nyLogo {
  width: 4rem;
  height: 4rem;
  overflow: visible;
  transform: rotate(0deg);
  transition: all 1s var(--motion);
}

.nyLogo.rotateLogo {
  transform: rotate(360deg);
}

.home img {
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: bottom center;
}

.Seattle {
  width: 100%;
  z-index: 0;
  overflow: visible;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0vw, 53vh);
}

.home .banner {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50vw;
  height: 50vw;
  left: 75%;
  top: 200%;
  transform: translate(-75%, -200%);
  display: flex;
  justify-content: center;
  align-items: start;
  transition: all 1s var(--motion);
  overflow: hidden;
  z-index: 0;
}

.home .banner .eritrean {
  position: relative;
  height: 50%;
  z-index: 1;
  margin-top: 2rem;
}

.home .banner .sun {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: var(--fifthly);
  inset: 0;
  margin: 0;
  z-index: 0;
}

.frontTrees {
  width: 100%;
  pointer-events: none;
  z-index: 0;
}

.inBetweenTrees {
  width: 100%;
  z-index: 100;
  overflow: visible;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0vw, 70vh);
}

.middleTrees {
  width: 100%;
  z-index: 99;
  overflow: visible;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0vw, 66vh);
}

.backTree {
  width: 100%;
  z-index: 97;
  overflow: visible;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0vw, 63vh);
}

.branch {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  z-index: 20;
  pointer-events: none;
}

.branch::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./images/CherryBlossomTree.png");
  background-position: 0% 0%;
  background-size: contain;
  background-repeat: no-repeat;
  filter: contrast(0.5) saturate(2) drop-shadow(5px 0px 1px #ff9777);
  transform: translateX(calc(-40% + var(--branchShift, 0px)));
  transition: transform 0.5s ease-in-out;
  z-index: 102 !important;
  pointer-events: none;
}

.branch>* {
  position: relative;
  z-index: 10;
}

.branch .leafsContainer {
  z-index: 21;
  transform: translateX(var(--leafShift, 0px));
}

.branch .leafsContainer img {
  filter: contrast(0.5) saturate(2) drop-shadow(2px 2px 1px #ff6d41);
}

.cloud001 {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 20vw;
  height: 10vh;
  transform: translate(35vw, 45vh) translateX(var(--cloudShift, 0px));
  z-index: 0;
}

.cloud002 {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 21.15vw;
  height: 22.428vw;
  transform: translate(78.889vw, 35vh) translateX(var(--cloudShift, 0px));
  z-index: 0;
  overflow: visible;
}

.cloud003 {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  height: 15.764vw;
  width: 14.178vw;
  transform: translate(70vw, 10vh) translateX(var(--cloudShift, 0px));
  overflow: visible;
  z-index: 1;
}

.name {
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: start;
  opacity: 1;
  overflow: visible;
  width: fit-content;
  height: auto;
  transition: all 0.5s ease;
  padding: 0;
  z-index: 30;
  overflow: visible;
  margin-top: var(--header);
  margin-left: -10vw;
}

.name h1,
.name h2 {
  width: min-content;
  height: min-content;
  margin: 0;
  padding: 0;
  overflow: visible;
}

.name h1 {
  font-family: Forza;
  color: var(--secondary);
  -webkit-text-stroke: 2px var(--fifthly);
  z-index: 0;
  line-height: 100%;
  font-size: 12rem;
}

.name h2 {
  font-family: NeoJapan;
  color: var(--sixthly);
  -webkit-text-stroke: 1px var(--fifthly);
  z-index: 0;
  font-size: 3rem;
  margin-top: -2rem;
}
