.navBar {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  justify-content: space-between;
  margin: 0;
  z-index: 2 !important;
  width: 90vw;
  padding: 5vh 0;
  position: absolute;
  overflow: visible;
  align-items: center;
}

.homeBorder .navBar,
.homeBorder .navBar * {
  pointer-events: none !important;
}

.homeBorder .navIconRail,
.homeBorder .navIconRail * {
  pointer-events: auto !important;
}

.navIconRail {
  transition: all 1s ease;
  position: fixed;
  left: 0;
  top: 0;
  height: 10rem;
  width: 10rem;
  z-index: 300001 !important;
  display: flex;
  justify-content: start;
  align-items: start;
  pointer-events: auto;
  margin: 2.5rem;
}

.navIconRail.menuShrink {
  padding: 0;
  width: 10rem;
  height: 10rem;
  transform: none;
  pointer-events: auto;
}

.homeBorder .circle {
  transition: all 2s var(--motion);
  position: absolute;
  width: 0px;
  height: 0px;
  background: var(--fourthly);
  left: 0;
  top: 0;
  border-radius: 0;
  transform-origin: left top;
  border-radius: 0 0 100% 0;
  opacity: 1;
  pointer-events: none;
}

.homeBorder .circle.expandCircle {
  width: 8rem;
  height: 8rem;
}

.navBar .navInfoGroup {
  flex-grow: 4;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--header);
}

.navBar .navDesktopLinks {
  position: relative;
  transition: all 1s ease;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  gap: var(--b);
  margin: 0;
}

.navBar .navDesktopLinks li {
  position: relative;
  transition: all 1s var(--motion);
  pointer-events: auto;
  opacity: 0;
  padding: 0;
  width: 0%;
  overflow: hidden;
  border: calc(var(--b) / 2) solid var(--fifthly);
  transition: all 0.75s var(--motion);
}

.navBar .navDesktopLinks li.expandBar {
  width: 100%;
  opacity: 1;
}

.navBar .navDesktopLinks li:hover {
  border: calc(var(--b) / 2) solid var(--sixthly);

  h3 {
    color: var(--sixthly);
  }
}

.navBar .navDesktopLinks li h3 {
  font-family: NeoJapan;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--fifthly);
  text-decoration-line: none;
}

.navBar .navDesktopLinks li a,
.navBar .navDesktopLinks li a:link,
.navBar .navDesktopLinks li a:visited,
.navBar .navDesktopLinks li a:hover,
.navBar .navDesktopLinks li a:active {
  text-decoration: none;
}

.navBar .navDesktopLinks li.menuShrinkText {
  left: 0%;
  pointer-events: none;
  opacity: 0;
}

.navBar .navDesktopLinks.expandOnClick {
  left: 0;
}

.navIconRail .iconButton {
  pointer-events: none;
  transition: all 1s var(--motion);
  background: var(--fourthly);
  padding: var(--b);
  margin: 0;
  border-radius: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 5rem;
  top: 5rem;
  transform: translate(-5rem, -5rem) scale(0.85);
  opacity: 0;
  z-index: -1;
}

.navIconRail .iconButton img {
  width: var(--nav-icon-button-size);
  height: var(--nav-icon-button-size);
}

.navIconRail .iconButton.menuExpand {
  opacity: 1;
  pointer-events: auto;
  border-radius: 100%;
  background: var(--fourthly);
  transform: translate(calc(-50% + var(--arc-x, 0rem)),
      calc(-50% + var(--arc-y, 0rem))) scale(1);
}

.navIconRail .iconButton:nth-of-type(2).menuExpand {
  --arc-x: 5.6rem;
  --arc-y: 2.1rem;
}

.navIconRail .iconButton:nth-of-type(3).menuExpand {
  --arc-x: 3.8rem;
  --arc-y: 5.2rem;
}

.navIconRail .iconButton:nth-of-type(4).menuExpand {
  --arc-x: 0rem;
  --arc-y: 6.4rem;
}

.homeBtn {
  position: relative;
  left: 0;
  top: 0;
  width: 4rem;
  height: 4rem;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s var(--motion);
}

.homeBtn.menuShrink {
  margin: 0;
  transform: rotate(360deg);
}

.homeBtn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navIconRail li {
  position: absolute;
  transition: all 1s var(--motion);
  pointer-events: auto;
  opacity: 1;
}

.navBar h2 {
  color: var(--fifthly);
  font-family: Forza;
  transition: all 1s ease;
  transform: translateX(0%);
}

.nyLogo {
  transition: all 1s var(--motion);
  transform-origin: center center;
  width: 100%;
  height: 100%;
}

.nyLogo.rotateLogo {
  transform: rotate(360deg);
}

.home img {
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: bottom center;
  pointer-events: none;
}

.home {
  --homeAssetDropY: 0px;
  --homeAssetOpacity: 1;
  --branchExtraShiftX: 0px;
  --cherryShiftX: 0vw;
  --leafShiftX: 0vw;
}

.home.assetsDropped {
  --homeAssetDropY: 20vh;
  --homeAssetOpacity: 0;
  --branchExtraShiftX: -8vw;
  --cherryShiftX: -120vw;
  --leafShiftX: -120vw;
}

.Seattle,
.inBetweenTrees,
.middleTrees,
.backTree,
.cloud001,
.cloud002,
.cloud003 {
  opacity: var(--homeAssetOpacity);
  transition:
    transform 0.75s var(--motion),
    opacity 0.75s var(--motion);
  transition-delay: 0s;
}

.middleTrees {
  transition-delay: 0.06s;
}

.backTree {
  transition-delay: 0.12s;
}

.Seattle {
  transition-delay: 0.18s;
}

.cloud001 {
  transition-delay: 0.24s;
}

.cloud002 {
  transition-delay: 0.30s;
}

.cloud003 {
  transition-delay: 0.36s;
}

.Seattle {
  width: 100%;
  z-index: 0;
  overflow: visible;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0vw, 53vh) translateY(var(--homeAssetDropY));
}

.frontTrees {
  width: 100%;
  pointer-events: none;
  z-index: 0;
}

.inBetweenTrees {
  width: 100%;
  z-index: 100;
  overflow: visible;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0vw, 67vh) translateY(var(--homeAssetDropY));
}

.middleTrees {
  width: 100%;
  z-index: 99;
  overflow: visible;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0vw, 62vh) translateY(var(--homeAssetDropY));
}

.backTree {
  width: 100%;
  z-index: 97;
  overflow: visible;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0vw, 59vh) translateY(var(--homeAssetDropY));
}


.cherryBlossom {
  position: absolute;
  left: 0;
  top: 0;
  width: 60vw;
  height: 30vw;
  transform: translate(-45%, 25%) translateX(var(--cherryShiftX));
  transition: transform 0.75s var(--motion);
  z-index: 102 !important;
  pointer-events: none;
}

.cloud001 {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  height: 10vh;
  transform: translate(35vw, 45vh) translateX(var(--cloudShift, 0px)) translateY(var(--homeAssetDropY));
  z-index: 0;
  object-fit: contain;
  overflow: visible;
}

.cloud002 {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 21.15vw;
  height: 22.428vw;
  transform: translate(78.889vw, 35vh) translateX(var(--cloudShift, 0px)) translateY(var(--homeAssetDropY));
  z-index: 0;
  overflow: visible;
  object-fit: contain;
  overflow: visible;
  object-position: 100% 0%;
}

.cloud003 {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  height: 15.764vw;
  width: 14.178vw;
  transform: translate(70vw, 10vh) translateX(var(--cloudShift, 0px)) translateY(var(--homeAssetDropY));
  overflow: visible;
  z-index: 1;
  object-fit: contain;
  overflow: visible;
}

.name {
  position: relative;
  flex-grow: 0;
  transition: all 0.5s ease;
  overflow: visible;
  z-index: 0 !important;
  padding: 2rem 0rem 0 1rem;
}

.name img {
  width: 125%;
  object-fit: cover;
}

@media screen and (max-width: 1439px) {
  .navBar .navInfoGroup {
    flex-direction: column;
    align-items: flex-end;
  }
}
