.navBar {
  z-index: 998;
  display: flex;
  width: 100%;
  position: fixed;
}

.navBar span {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.navBar span:nth-of-type(1) {
  width: 70%;
}

.navBar span:nth-of-type(2) {
  width: 30%;
  padding: 1% 5% 1% 4%;
  border-radius: 0 0 0 50px;
}

.navBar span li a {
  text-decoration: none;
}

.navBar h2 {
  color: transparent;
  font-family: Forza;
  -webkit-text-stroke: 0.25px var(--fifthly);
}

.nyLogo {
  width: 5vw;
  height: 10vh;
  overflow: visible;
}

.upsideDown {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  transform: translate(0%, 0%);
}

.home img {
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: bottom center;
  transition: all 0.5s var(--motion);
}

.home img.parallax {
  top: 100vh;
}

.home img.leftParallax {
  left: -100vw;
}

.home img.rightParallax {
  left: 100vw;
}

.Seattle {
  width: 100%;
  z-index: 2;
  overflow: visible;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0vw, 54vh);
}

.home .banner {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin: 0;
  width: 51.319vw;
  height: 76.27vh;
  transform: translate(-50%, 0) translateX(11.389vw);
  display: flex;
  justify-content: center;
  align-items: start;
  z-index: 1;
  transition: all 1s var(--motion);
  overflow: hidden;
}

.home .banner .eritrean {
  position: relative;
  height: 60%;
  z-index: 1;
  margin-top: var(--header);
}

.home .banner .sun {
  position: absolute;
  width: 80%;
  height: 100%;
  border-radius: 100%;
  background: var(--fifthly);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.frontTrees {
  width: 100%;
  pointer-events: none;
}

.backTree {
  width: 100%;
  z-index: 3;
  overflow: visible;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0vw, 62vh);
}

.middleTrees {
  width: 100%;
  z-index: 4;
  overflow: visible;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0vw, 66vh);
}

.cloud001 {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 40vw;
  height: 15vh;
  transform: translate(19.514vw, 45vh);
  z-index: 1;
}

.cloud002 {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 21.15vw;
  height: 22.428vw;
  transform: translate(78.889vw, 43.457vh);
  z-index: 1;
  overflow: visible;
}

.cloud003 {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  height: 15.764vw;
  width: 14.178vw;
  transform: translate(77.083vw, 20vh);
  overflow: visible;
  z-index: 1;
}

.name {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: calc(var(--header) * 2) var(--header) var(--header) var(--header);
  gap: 60px;
  opacity: 0.5;
  overflow: visible;
  width: 100vw;
}

.name h1,
.name h2 {
  width: min-content;
  height: min-content;
  margin: 0;
  padding: 0;
}

.name h1 {
  font-family: Forza;
  font-size: 12rem;
  color: var(--secondary);
  text-shadow:
    -1px 0 var(--fifthly),
    1px 0 var(--fifthly),
    0 -1px var(--fifthly),
    0 1px var(--fifthly);
  z-index: 0;
  line-height: 100%;
}

.name h2 {
  font-family: NeoJapan;
  color: var(--secondary);
  text-shadow:
    -1px 0 var(--fifthly),
    1px 0 var(--fifthly),
    0 -1px var(--fifthly),
    0 1px var(--fifthly);
  font-size: 2.5rem;
  margin-top: -100px;
  z-index: 1;
}

/* desktop screen */
@media screen and (min-width: 1440px) {}

/* iphone screen */
@media screen and (min-width: 393px) and (max-width: 1023px) {

}