html {
  font-size: 16px;
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 18px;
  }
}

@media screen and (max-width: 1023px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }
}
