/* desktop screen */
@media screen and (min-width: 1440px) {}

/* ipad screen */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
    * {
        font-size: 20px;
    }
}

/* iphone screen */
@media screen and (min-width: 393px) and (max-width: 1023px) {
    * {
        font-size: 16px;
    }
}