html {
  font-size: 16px;
}

:root {
  --b: 0.5rem;
  --header: 1rem;
  --g: 0.5rem;
  --iconSize: 1rem;
  --background: #bc6654;
  --primary: #ffbf75;
  --secondary: #FFD170;
  --thirdly: #af6243;
  --fourthly: #7f3f32;
  --fifthly: #ff0d00;
  --sixthly: #ffda89;
  --highLight: #ff7a38;
  --threshold: 50%;
  --motion: cubic-bezier(.34, 1.56, .64, 1);
  --textOutline:
    -1px 0 var(--fifthly),
    1px 0 var(--fifthly),
    0 -1px var(--fifthly),
    0 1px var(--fifthly);
  --nav-icon-button-size: 70px;
  --type-t-size: 16rem;
  --type-h1-size: 3rem;
  --type-h2-size: 2rem;
  --type-h3-size: 1rem;
}

t {
  font-family: Forza;
  color: var(--secondary);
  -webkit-text-stroke: 2px var(--fifthly);
  z-index: 0;
  line-height: 100%;
  font-size: var(--type-t-size);
}

h1 {
  font-family: LondrinaSketch;
  text-transform: uppercase;
  color: var(--secondary);
  font-weight: 100;
  font-size: var(--type-h1-size);
}

h2 {
  font-family: LondrinaSolid;
  color: var(--primary);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: var(--type-h2-size);
}

h3 {
  font-family: LondrinaSolidLight;
  font-size: var(--type-h3-size);
  color: var(--secondary);
}

p {
  font-family: LondrinaSolidLight;
  font-size: 0.75rem;
  color: var(--secondary);
}

@font-face {
  font-family: LondrinaSketch;
  src: url(./fonts/LondrinaSketch-Regular.ttf);
}

@font-face {
  font-family: LondrinaSolid;
  src: url(./fonts/LondrinaSolid-Regular.ttf);
}

@font-face {
  font-family: LondrinaSolidLight;
  src: url(./fonts/LondrinaSolid-Light.ttf);
}

@font-face {
  font-family: Forza;
  src: url(./fonts/Forza.ttf);
}

@font-face {
  font-family: NeoJapan;
  src: url(./fonts/Neo\ Nippon-Regular.ttf);
}


.footer ol a {
  display: inline-flex;
  transition: transform 0.2s ease, filter 0.2s ease;
}

.footer ol a:hover {
  transform: translateY(-3px) rotate(-2deg);
  filter: brightness(1.1);
}

.primaryButton {
  border-radius: var(--header);
  border: var(--secondary) calc(var(--b) / 4) solid;
  box-shadow: 0px 5px 0px var(--fourthly);
  background: none;
  transition: all 0.25s ease-in-out;
  flex-grow: 0;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--b);
}

.primaryButton h2 {
  color: var(--primary);
  -webkit-text-stroke: none;
  font-family: 'NeoJapan';
  margin: 0;
  text-align: center;
}

.primaryButton:link,
.primaryButton:visited,
.primaryButton:hover,
.primaryButton:active {
  text-decoration: none;
}

.primaryButton:hover {
  background: var(--fourthly);
  flex-grow: 0.25;
}