html {
  font-size: 16px;
}


:root {
  --b: 0.5rem;
  --header: 1rem;
  --g: 0.5rem;
  --iconSize: 1rem;
  --background: #bc6654;
  --primary: #ffbf75;
  --secondary: #FFD170;
  --thirdly: #d17d54;
  --fourthly: #7f3f32;
  --fifthly: #ff3c00;
  --sixthly: #FFD170;
  --threshold: 50%;
  --motion: ease-in-out;
  --textOutline:
    -1px 0 var(--fifthly),
    1px 0 var(--fifthly),
    0 -1px var(--fifthly),
    0 1px var(--fifthly);
}


h1 {
  font-family: LondrinaSketch;
  font-size: 10rem;
  text-transform: uppercase;
  color: var(--secondary);
  font-weight: 100;
}

h2 {
  font-family: LondrinaSolid;
  font-size: 1rem;
  color: var(--primary);
  text-transform: uppercase;
  letter-spacing: 1px;
}

h3 {
  font-family: LondrinaSolidLight;
  font-size: 1rem;
  color: var(--secondary);
}

p {
  font-family: LondrinaSolidLight;
  font-size: 0.75rem;
  color: var(--secondary);
}


@media screen and (min-width: 768px) and (max-width: 1439px) {
  .about.expanded {
    height: 100vh;
  }

  .rsmCol:nth-of-type(1) {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: visible;
    gap: 50px;
    z-index: 30;
    width: 100%;
    order: 2;
  }

  .rsmCol:nth-of-type(2) {
    order: 1;
  }

  .table {
    left: 0;
    top: 0;
    width: 90vw;
    height: 100vh;
    margin: 10vh 5vw;
    display: flex;
    flex-direction: column;
    overflow: visible;
    position: absolute;
  }

  .table .background {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--b);
    list-style: none;
    height: 100%;
    width: 100%;
    overflow: visible;
    z-index: 30;
    order: 3;
  }

  .progressContainer {
    display: flex;
    flex-direction: row;
    padding: 0.25rem;
    position: relative;
    height: 100%;
    justify-content: space-between;
    overflow: visible;
    gap: 0;
  }

  .progressContainer li {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: 100%;
    flex-basis: 8%;
    width: 8%;
  }

  .progressContainer li .barContainer {
    height: 100%;
    overflow: hidden;
    order: 1;
    position: relative;
  }

  .progressContainer li .barContainer .bar {
    position: absolute;
    transition: all 2s ease-in-out;
    left: 50%;
    transform: translate(-50%, 0%);
    bottom: 0;
    border: 10px solid var(--secondary);
    scale: 1.5;
    height: 20%;
  }

  .progressContainer li .text {
    width: 100%;
    height: 80px;
    order: 2;
    overflow: hidden;
  }

  .progressContainer li .text h2 {
    font-family: LondrinaSolid;
    white-space: normal;
  }
}


@font-face {
  font-family: LondrinaSketch;
  src: url(./fonts/LondrinaSketch-Regular.ttf);
}

@font-face {
  font-family: LondrinaSolid;
  src: url(./fonts/LondrinaSolid-Regular.ttf);
}

@font-face {
  font-family: LondrinaSolidLight;
  src: url(./fonts/LondrinaSolid-Light.ttf);
}

@font-face {
  font-family: Forza;
  src: url(./fonts/Forza.ttf);
}

@font-face {
  font-family: NeoJapan;
  src: url(./fonts/Neo\ Nippon-Regular.ttf);
}


.footer ol a {
  display: inline-flex;
  transition: transform 0.2s ease, filter 0.2s ease;
}

.footer ol a:hover {
  transform: translateY(-3px) rotate(-2deg);
  filter: brightness(1.1);
}
