body {
  background: var(--background);
  position: relative;
  overflow-y: visible;
  overflow-x: hidden;
  width: 100vw;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

#nahomeScreen {
  z-index: 8;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  overflow-x: hidden;
}

#appsFore {
  width: 90vw;
  margin: 0 5vw;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  overflow-x: hidden;
}

#appsMiddle {
  width: 90vw;
  margin: 0 5vw;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 8;
  overflow-x: hidden;
}

#appsBack {
  width: 90vw;
  margin: 0 5vw;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  overflow-x: hidden;
}

.home {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  margin: 0;
  padding: 5vh 5vw;
  width: 90vw;
  height: 90vh;
  background: var(--secondary);
  display: flex;
  justify-content: start;
  align-items: start;
  overflow: hidden;
}

.homeBorder {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 90vh;
  z-index: 999;
  overflow: visible;
  display: flex;
  justify-content: start;
  align-items: start;
}

.homeBorder svg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  overflow: visible;
}

.homeBorder svg rect {
  stroke: var(--fifthly);
  clip-path: polygon(5vw 0,
      100% 0%,
      100% 100%,
      0% 100%,
      0% 10vh,
      10% 50%);
}

.homeFill {
  width: 100%;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: end;
  justify-content: center;
  z-index: 10;
}

.upsideDownTrees {
  width: 100%;
  transform: scaleY(-1);
}

.about ul {
  position: relative;
  width: 50vw;
  padding: 0vw 25vw;
  display: flex;
  margin: 0;
}

.infoHeader {
  z-index: 1;
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 1;
  mask-image: url(./images/upsideDownSeattle.svg);
  mask-position: 0% 0%;
  mask-size: 100%;
}

.infoHeader ul ol li img {
  width: 40px;
  height: 40px;
}

.careers {
  list-style: none;
  background: var(--background);
  display: flex;
  justify-content: space-between;
  width: 80vw;
  padding: 0vw 10vw;
  margin: 0;
  background: green;
}

.careers span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.careers h1,
.careers span h1,
.careers span h2 {
  margin: 0;
  color: var(--background);
  z-index: 1;
}

.careers h1 {
  white-space: nowrap;
  text-align: justify;
  text-justify: inter-word;
}

.careers h2 {
  transform-origin: center center;
  transform: rotate(90deg);
}

.about {
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
  transition: height 2s ease;
  position: relative;
  z-index: 50;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: var(--fifthly);
}

.about.expanded {
  height: 130vh;
}

.about .maskBottom {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 10;
  overflow: visible;
}

.footer {
  position: relative;
  display: grid;
  justify-content: stretch;
  width: 70.834vw;
  margin: 0 14.583vw;
  gap: var(--g);
  grid-template-rows: repeat(5, auto);
  grid-template-columns: repeat(2, auto);
}

/*
   a valid value for flex-grow.
   a valid value for flex-shrink.
   a valid value for flex-basis.
   */

.footer li:nth-of-type(1) h1 {
  line-height: 75%;
  margin: 0;
  font-size: calc(var(--title) + 6rem);
  text-shadow: 0px 5px var(--fourthly);
  -webkit-text-stroke: 2px var(--secondary);
}

.footer+li:nth-of-type(1) h2 {
  margin: 0;
  color: var(--secondary);
  white-space: nowrap;
  font-size: calc(var(--header) + 0.5rem);
}

.footer>li {
  display: grid;
  grid-template-rows: auto;
}

.footer li:nth-of-type(2) fieldset {
  border-radius: var(--b);
  border: var(--secondary) 5px solid;
  flex-grow: 1;
}

.footer li:nth-of-type(2) fieldset legend h2 {
  margin: 0;
}

.footer li:nth-of-type(2) fieldset input {
  background: transparent;
  width: 100%;
  border: none;
}

.footer li:nth-of-type(2) fieldset input:focus {
  outline: none;
}

.footer li:nth-of-type(2) fieldset:nth-of-type(4) {
  height: 10vh;
}

.footer li:nth-of-type(1) h2 {
  text-align: left;
  width: 100%;
}

.footer li:nth-of-type(1) h1 {
  width: 100%;
  text-align: left;
}

.footer .contactBanner {
  grid-column: span 1;
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 var(--title);
}

.footer .boxes {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}

.boxes fieldset input {
  color: var(--secondary);
}

.boxes input:nth-of-type(1) {
  background: none;
  outline: none;
  color: var(--secondary);
}

.footer button {
  border-radius: 10px;
  border: none;
  background: var(--secondary);
  padding: var(--b) var(--g);
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
}

.footer ol {
  display: flex;
  flex-grow: 1;
  list-style: none;
  justify-content: space-around;
  padding: 0;
  align-items: center;
  grid-column: span 3;
  grid-row: span 1;
}

.footer .Copyright {
  color: var(--thirdly);
  text-align: center;
  grid-column: span 3;
}

.footer button p {
  color: var(--background);
  text-transform: uppercase;
  margin: 0;
}

.footer ol li,
.footer ol li img {
  width: 4rem;
  height: 4rem;
}

.about ul {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 50vw;
  padding: 0vw 25vw;
  object-fit: cover;
  z-index: 2;
}

.about ul li {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.about ul li h2 {
  text-align: start;
}

.about ul li img {
  width: 30px;
  height: 30px;
}

.table {
  left: 0;
  top: 0;
  width: 80%;
  height: 100%;
  margin: 0 10%;
  padding: 0;
  z-index: 1;
  display: flex;
  align-content: center;
  justify-content: center;
  overflow: visible;
  position: absolute;
}

.rsmCol:nth-of-type(1) {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: visible;
  height: 100%;
  gap: 10px;
}

#aboutCanvas {
  width: 100%;
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  clip-path: circle(30% at center);
  z-index: 2;
  overflow: clip !important;
}

#aboutCanvas::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--thirdly);
  clip-path: circle(20% at center);
  z-index: -1;
}

.aboutOutline {
  clip-path: circle(32% at center);
  width: 100%;
  height: 100%;
  background: var(--fourthly);
  z-index: -2;
}

.rsmCol:nth-of-type(1) button {
  background: transparent;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0.5vw;
  border: 6px solid var(--fourthly);
  border-radius: 50px;
  width: 100%;
}

.rsmCol:nth-of-type(1) button h2 {
  color: var(--fourthly);
  margin: 0;
}

.progressContainer {
  display: grid;
  grid-template-columns: 6vw 34vw;
  row-gap: calc(var(--b) / 2);
  border: 5px solid var(--background);
  border-radius: var(--b);
  padding: var(--b);
  height: 35%;
}

.progressContainer li {
  display: contents;
}

.progressContainer .text {
  display: flex;
  flex-direction: start;
  align-items: start;
  justify-content: start;
}

.progressContainer .text h2 {
  margin: 0;
  line-height: 1;
  color: var(--fourthly);
  font-size: 0.6rem;
}

.progressContainer .barContainer {
  width: 100%;
  background: var(--fourthly);
  border-radius: 0.25rem;
  overflow: hidden;
}

.progressContainer li .barContainer .bar {
  height: 100%;
  background: var(--primary);
  transform-origin: left top;
  width: 0%;
  transition: all 2s ease-in-out;
}

.progressContainer li .barContainer .bar.expandBar {
  width: auto;
}

.rsmCol:nth-of-type(2) {
  flex-grow: 1;
  position: relative;
  width: 50%;
  height: 100%;
  overflow: visible;
}

.rsmCol:nth-of-type(2) .iconCircle {
  position: relative;
  list-style: none;
  z-index: 999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.iconCircle li svg {
  width: 70px;
  height: 70px;
}

.iconCircle li {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  offset-path: circle(53% at 50% 50%);
  z-index: -20;
  offset-distance: 0%;
  transition: all 2.5s var(--motion);
}

.iconCircle li.circlePos {
  offset-distance: auto;
}

.iconCircle li.circleAnimation {
  animation: circleMotion 6s linear infinite;
}

.iconCircle li img {
  width: 3rem;
  height: 3rem;
  margin: 0;
}

@keyframes circleMotion {
  0% {
    offset-distance: auto;
  }

  100% {
    offset-distance: calc(var(--pos360) + 100%);
  }
}