body {
  background: var(--background);
  position: relative;
  overflow-y: visible;
  overflow-x: hidden;
  width: 100vw;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.leafsContainer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  padding: 5% 20% 0% 0%;
  z-index: 7;
}

#nahomeScreen {
  position: fixed;
  inset: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  z-index: 30 !important;
  pointer-events: none;
  filter:
    contrast(1) saturate(1);
}

.aboutFill {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background: var(--fifthly);
  pointer-events: none;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.leafsContainer:nth-of-type(1) {
  z-index: 100;
}

.leafsContainer:nth-of-type(2) {
  z-index: 7;
}

.leafsContainer img {
  position: relative !important;
}

.leafsContainer img.descend {
  animation: 6s descendAnim ease-in-out infinite;
}

.leafsContainer img.descend002 {
  animation: 8s descendAnim002 ease-in-out infinite;
}

.leafsContainer img {
  filter: contrast(0.5) saturate(2) drop-shadow(2px 2px 1px #ff6d41);
}

@keyframes descendAnim {
  0% {
    opacity: 0;
    transform: translate(0, 0) rotate(0deg) skew(0deg, 0deg);
  }

  10% {
    opacity: 1;
    transform: translate(auto) rotate(auto) skew(auto);
  }

  25% {
    opacity: 1;
    transform: translate(auto) rotate(20deg) skew(-5deg, 5deg);
  }

  50% {
    opacity: 1;
    transform: translate(auto) rotate(40deg) skew(0deg, 0deg);
  }

  75% {
    opacity: 1;
    transform: translate(auto) rotate(60deg) skew(-21.6deg, 18deg);
  }

  100% {
    opacity: 0;
    transform: translate(100vw, 100vh) rotate(90deg) skew(0deg, 0deg);
  }
}

@keyframes descendAnim002 {
  0% {
    opacity: 0;
    transform: translate(0, 0) rotate(0deg) skew(0deg, 0deg);
  }

  10% {
    opacity: 1;
    transform: translate(auto) rotate(-10deg) skew(5deg, -5deg);
  }

  25% {
    opacity: 1;
    transform: translate(auto) rotate(-25deg) skew(10deg, -10deg);
  }

  50% {
    opacity: 1;
    transform: translate(auto) rotate(-45deg) skew(0deg, 0deg);
  }

  75% {
    opacity: 1;
    transform: translate(auto) rotate(-60deg) skew(-10deg, 10deg);
  }

  100% {
    opacity: 0;
    transform: translate(100vw, 100vh) rotate(-90deg) skew(0deg, 0deg);
  }
}

.home .banner {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin: 0;
  width: 51.319vw;
  height: 76.27vh;
  transform: translate(-50%, 0) translateX(11.389vw);
  display: flex;
  justify-content: center;
  align-items: start;
  transition: all 1s var(--motion);
  overflow: hidden;
}

#appsFore {
  width: 90vw;
  margin: 0 5vw;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  overflow-x: hidden;
}

#appsMiddle {
  width: 90vw;
  margin: 0 5vw;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 8;
  overflow-x: hidden;
}

#appsBack {
  width: 90vw;
  margin: 0 5vw;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  overflow-x: hidden;
}

.home {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  margin: 0;
  padding: 5vh 5vw;
  width: 90vw;
  height: 90vh;
  background: var(--sixthly);
  display: flex;
  justify-content: start;
  align-items: start;
  overflow: hidden;
  z-index: 1;
}

.homeBorder {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  display: flex;
  justify-content: start;
  align-items: start;
  z-index: 10000;
}

.homeBorder svg {
  fill: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 90vh;
  pointer-events: none;
  overflow: visible;
}

.homeBorder svg path {
  stroke-dashoffset: 7700;
  stroke-dasharray: 7700;
  stroke-width: 10px;
  stroke: var(--fifthly);
  transition: stroke-dashoffset 1s ease;
}

.homeBorder svg path.animateBorder {
  stroke-dashoffset: 100;
}

.homeFill {
  width: 100%;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: end;
  justify-content: center;
  pointer-events: none;
  z-index: 99;
}

.upsideDownTrees {
  width: 100%;
  transform: scaleY(-1);
  z-index: 100;
  position: relative;
}

.upsideDown {
  position: relative;
  width: 100%;
  z-index: 32;
  pointer-events: none;
}

.about ul {
  position: relative;
  width: 50vw;
  padding: 0vw 25vw;
  display: flex;
  margin: 0;
}

@keyframes scollX {
  from {
    transform: translateX(-200vw);
  }

  to {
    transform: translateX(200vw);
  }
}

.about {
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
  transition: height 2s ease;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.about.expanded {
  height: 100vh;
}

.about .maskBottom {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 31;
  overflow: visible;
}

.footer {
  position: relative;
  display: grid;
  justify-content: stretch;
  padding: 0 10vw;
  gap: var(--g);
  z-index: 9999;
}



.footer li:nth-of-type(1) h1 {
  line-height: 75%;
  margin: 0;
  text-shadow: 0px 5px var(--fourthly);
  -webkit-text-stroke: 1px var(--secondary);
}

.footer+li:nth-of-type(1) h2 {
  margin: 0;
  color: var(--secondary);
  white-space: nowrap;
}

.footer>li {
  display: grid;
  grid-template-rows: auto;
}

.footer li:nth-of-type(2) fieldset {
  border-radius: var(--b);
  border: var(--secondary) 5px solid;
  flex-grow: 1;
}

.footer li:nth-of-type(2) fieldset legend h2 {
  margin: 0;
}

.footer li:nth-of-type(2) fieldset input {
  background: transparent;
  width: 100%;
  border: none;
}

.footer li:nth-of-type(2) fieldset input:focus {
  outline: none;
}

.footer li:nth-of-type(2) fieldset:nth-of-type(4) {
  height: 10vh;
}

.footer li:nth-of-type(1) h2 {
  text-align: left;
  width: 100%;
}

.footer li:nth-of-type(1) h1 {
  width: 100%;
  text-align: left;
}

.footer span {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer span .contactBanner {
  position: relative;
  flex-basis: 50%;
  flex-grow: 2;
  font-size: 5rem;
}

.footer span .boxes {
  position: relative;
  flex-basis: 50%;
  flex-grow: 1;
}

.boxes fieldset input {
  color: var(--secondary);
}

.boxes input:nth-of-type(1) {
  background: none;
  outline: none;
  color: var(--secondary);
}

.footer button {
  border-radius: 10px;
  border: none;
  background: var(--secondary);
  padding: var(--b) var(--g);
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
}

.footer ol {
  display: flex;
  flex-grow: 1;
  list-style: none;
  justify-content: space-around;
  padding: 0;
  align-items: center;
  grid-column: span 3;
  grid-row: span 1;
}

.footer .Copyright {
  color: var(--thirdly);
  text-align: center;
  grid-column: span 3;
}

.footer button p {
  color: var(--background);
  text-transform: uppercase;
  margin: 0;
}

.footer ol li,
.footer ol li img {
  width: 4rem;
  height: 4rem;
}

.table {
  left: 0;
  top: 0;
  width: 90vw;
  height: 50vh;
  margin: 25vh 5vw;
  display: flex;
  overflow: visible;
  position: absolute;
}

.table::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.table .background {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: end;
  justify-content: center;
  flex-grow: 1;
  flex: 0 0 20%;
  z-index: 30;
  position: relative;
}

.table .background li:hover {
  margin: calc(var(--b) * 2) 0;

  h3 {
    height: 80%;
    background: var(--fourthly);
  }

  img {
    padding: calc(var(--b) * 2);
    width: calc(var(--iconSize)*2);
    height: calc(var(--iconSize)*2);
    z-index: 1;
    border: calc(var(--b) / 2) solid var(--secondary);
    animation: iconSpin 0.5s var(--motion);
  }
}

@keyframes iconSpin {
  50% {
    scale: 1.2;
  }

  100% {
    scale: 1;
    transform: rotate(360deg);
  }
}

.table .background li {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  width: 100%;
  position: relative;
  transition: all 0.5s var(--motion);
  transform-origin: center center;
}

.table .background li img {
  padding: calc(var(--b));
  width: calc(var(--iconSize)*2);
  height: calc(var(--iconSize)*2);
  border-radius: 50%;
  border: calc(var(--b) / 2) solid var(--secondary);
  transition: all 0.5s var(--motion);
      background: var(--thirdly);
      z-index: 1;
}

.table .background li h3 {
  font-size: 1rem;
  display: flex;
  padding: 0 60px;
  justify-content: start;
  align-items: center;
  border-top: calc(var(--b) / 3) solid var(--secondary);
  border-right: calc(var(--b) / 3) solid var(--secondary);
  border-bottom: calc(var(--b) / 3) solid var(--secondary);
  border-radius: 0 calc(var(--iconSize) * 2) calc(var(--iconSize) * 2) 0;
  width: 100%;
  height: 50%;
  transform: translateX(-50px);
  transition: height 0.5s var(--motion);
  font-family: NeoJapan;
  text-transform: uppercase;
  white-space: nowrap;
}

.rsmCol:nth-of-type(1) {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: visible;
  flex-basis: 30%;
  height: 100%;
  z-index: 30;
  width: 50%;
}

.progressContainer::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-image: url("./images/itemBorder.png");
  background-size: 100% 100%;
}

.rsmCol:nth-of-type(1) button {
  background: transparent;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  position: relative;
  border: none;
  overflow: visible;
  object-fit: contain;
  padding: calc(var(--b) / 2);
}

.rsmCol:nth-of-type(1) button h2 {
  color: transparent;
  margin: 0;
  font-family: Forza;
  -webkit-text-stroke: 0.5px var(--sixthly);
}

.itemBorder {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  filter: drop-shadow(0px 5px 0px var(--background));
}

.progressContainer {
  margin-top: var(--header);
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  flex-grow: 1;
  overflow: visible;
  padding: 0.75rem;
}

.progressContainer li {
  display: flex;
  position: relative;
  width: 100%;
  gap: var(--b);
}

.progressContainer li .text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 25%;
  overflow: visible;
}

.progressContainer .text h2 {
  margin: 0;
  line-height: 1;
  color: var(--secondary);
  font-family: LondrinaSketch;
  font-size: 0.75rem;
  white-space: normal !important;
}

.progressContainer h2:nth-of-type(odd) {
  color: var(--sixthly);
  font-family: LondrinaSolidLight;
}

.progressContainer .barContainer {
  background: var(--fourthly);
  border-radius: 0.25rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.progressContainer li .barContainer .bar {
  height: 100%;
  background: var(--primary);
  transform-origin: left top;
  width: 0%;
  transition: all 2s ease-in-out;
}

.progressContainer li .barContainer .bar.expandBar {
  width: auto;
}

.rsmCol:nth-of-type(2) {
  flex-grow: 1;
  position: relative;
  overflow: visible;
  flex-basis: 40%;
  height: 100%;
}

.rsmCol:nth-of-type(2)::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0%;
  height: 0%;
  border-radius: 100%;
  background: var(--fourthly);
  z-index: 10;
  transition: all 1s ease;
}

.rsmCol:nth-of-type(2)::before.circleExpand {
  width: 60px;
  height: 80px;
}

.rsmCol:nth-of-type(2) .iconCircle {
  position: relative;
  list-style: none;
  z-index: 40;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.iconCircle li {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  offset-path: circle(45% at 50% 50%);
  z-index: -20;
  offset-distance: 0%;
  transition: all 2.5s var(--motion);
  filter: drop-shadow(3px 3px 0px var(--fifthly));
}

.iconCircle li.circlePos {
  offset-distance: var(--pos360);
}

.iconCircle li.circleAnimation {
  animation: circleMotion 6s linear infinite;
  transition: none;
}

.iconCircle li img {
  width: calc(var(--iconSize) * 3);
  height: calc(var(--iconSize) * 3);
  margin: 0;
}

@keyframes circleMotion {
  0% {
    offset-distance: var(--pos360);
  }

  100% {
    offset-distance: calc(var(--pos360) + 100%);
  }
}

.contactRow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 80vw;
  z-index: 32;
}

.contactRow:nth-of-type(2) {
  transform: translateX(-100%);
}

.contactRow img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  background-size: 100% 80%;
}

.contactContainer {
  display: flex;
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100%;
  z-index: 9999;
  mask-image: url("./images/upsideUpSeattle.svg");
  mask-size: 100%;
  mask-position: 0% 100%;
  mask-repeat: no-repeat;
}

.contactRow {
  width: 100vw;
  animation: scrollX 20s linear infinite;

}

.contactRow:nth-of-type(2) {
  animation-delay: 10s;
}


@keyframes scrollX {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.contactHeader {
  display: flex;
  position: absolute;
  width: 100vw;
  z-index: 9999;
  overflow: hidden;
  bottom: 0;
  mask-image: url("./images/upsideUpSeattle.svg");
  mask-size: 100%;
  mask-position: 0% 100%;
  mask-repeat: no-repeat;
  pointer-events: none;
}

.contactHeader .infoTrack {
  animation: infoMarqueeReverse 20s linear infinite;
}

.infoHeader {
  display: flex;
  position: absolute;
  width: 100vw;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
  mask-image: url("./images/upsideDownSeattle.svg");
  mask-size: 100%;
  mask-position: 0% 0%;
  mask-repeat: no-repeat;
  pointer-events: none;
}

.infoTrack {
  display: flex;
  width: max-content;
  height: 100%;
  animation: infoMarquee 20s linear infinite;
  will-change: transform;
}

.professionRow {
  flex: 0 0 100vw;
  width: 100vw;
  margin: 0 5vw;
  display: flex;
  align-items: center;
}

.professionRow img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  object-position: 0% 0%;
}

@keyframes infoMarquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes infoMarqueeReverse {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}